body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background: #474747;
}

section {
  background: #474747;
  padding-bottom: 30px;
}

h1 {
  font-family: 'Staatliches', sans-serif;
  font-size: 24px;
  padding: 10px 0 2px;
  border-bottom: solid .5px #FFF;
  margin: 0px 30px 10px;
  color: #FFF;
}

h2 {
  padding: 2px 10px;
}

p {
  font-size: 15px;
  text-align: left;
  padding: 2px 10px;
  color: #FFF;
}

